<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8">
        <title>{% block title %} Welcome! {% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href=" {{ asset('build/app.css') }} ">
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>

    <body>
        {{ include('layouts/partials/flash_messages.html.twig') }}
        {{ include('layouts/partials/nav_bar.html.twig') }}

        <main class="container" role="main">
                {% block body %}{% endblock %}
        </main>

        {{ include('layouts/partials/footer.html.twig') }}

        <div class="player row">
            <div id="waveform" class="col-10"></div>
            <div class="col-2">
                <div class="playpause">
                    <input type="checkbox" value="None" id="playpause" name="check" onclick="playPause()" />
                    <label for="playpause"></label>
                </div>
            </div>
        </div>

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}

            <script type="text/javascript">

                var wavesurfer = WaveSurfer.create({
                    container: '#waveform'
                });

                wavesurfer.mediaContainer.children[0].style.position = '';

                let temp = null;

                function play(source) {
                    if(temp && temp === source) {
                        wavesurfer.play();
                    } else {
                        wavesurfer.load(source);
                        wavesurfer.on('ready', function () {
                            wavesurfer.play();
                        });
                        temp = source;
                    }
                }

                function pause() {
                    wavesurfer.pause();
                }

                function playPause() {
                    wavesurfer.playPause();
                }

            </script>


        {% endblock %}
    </body>

</html>
